<!--<header>
	<div style="display:flex; justify-content:space-between;align-items:center;">
		<div>
			<h3>NameWeb</h3>
		</div>
		<div>
			<ul style="display:flex; flex-wrap:wrap; list-style:none">
				<li><a href="">Home</a></li>
				<li><a href="#/about/asdasd">About</a></li>
				<li><a href="">Contact</a></li>
			</ul>
		</div>
	</div>
</header>-->
<header>
	<div style="display:flex; justify-content:space-between;align-items:center;">
		<div>
			<h3>NameWeb</h3>
		</div>
		<div>
			<h3>{{name}}</h3>
		</div>
	</div>
</header>